/*@import url(//fonts.googleapis.com/css?family=Amatic+SC|Special+Elite);*/
@import url(//fonts.googleapis.com/css?family=Amatic+SC);

.wwu-33-percent-left-column .panel-pane {
    margin-bottom: 1em;
}

main > .page-title {
    margin-bottom: 0.625em;
}

main > .page-title h1 {
    font-size: 1.5em;
    line-height: 1.667;
    margin: 0;
    padding: 0 0.3em;
    }

header[role="banner"] > div {
    max-height: none;
}

.pane-title {
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1.5em;
    font-family:  "Amatic SC";
    font-size:  3em;
}

#quicktabs-poetrychat_homepage_quicktabs {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

#quicktabs-container-poetrychat_homepage_quicktabs {
    width: 50%;
    margin-left: 50%;
}  

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs {
    margin: 0;
    padding: 0;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li {
    display: block;
    padding: 0;
    margin-bottom: 0.625em;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li a {
    position: relative;
    display: block;
    width: auto;
    background-color: #eee;
    background-image: url("../images/tabs_sprite.png");
    background-repeat: no-repeat;
    padding: 1.5em;
    padding-right: 3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li a:before {
    position: absolute;
    top: 0;
    right: 1.5em;
    content: '';
    width: 13px;
    height: 100%;
    background: transparent url("../images/cfpa_arrow.png") center center no-repeat;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li #quicktabs-tab-front_page_content-3 {
    background-position: 0px 0px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li:nth-child(4) {
    background-position: 0px 0px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li #quicktabs-tab-front_page_content-2 {
    background-position: 0px -100px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li:nth-child(3) {
    background-position: 0px -100px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li #quicktabs-tab-front_page_content-1 {
    background-position: 0px -200px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li:nth-child(2) {
    background-position: 0px -200px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li #quicktabs-tab-front_page_content-0 {
    background-position: 0px -300px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li:nth-child(1) {
    background-position: 0px -300px;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active a {
    background-image: none;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active #quicktabs-tab-front_page_content-3 {
    background-color: #ffc61e;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active:nth-child(4) {
    background-color: #ffc61e;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active #quicktabs-tab-front_page_content-2 {
    background-color: #bad80a;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active:nth-child(3) {
    background-color: #bad80a;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active #quicktabs-tab-front_page_content-1 {
    background-color: #cc2d30;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active:nth-child(2) {
    background-color: #cc2d30;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active #quicktabs-tab-front_page_content-0 {
    background-color: #0083d6;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li.active:nth-child(1) {
    background-color: #0083d6;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs-tabs li:last-child {
    margin-bottom: 0;
}

#quicktabs-poetrychat_homepage_quicktabs .quicktabs_main .quicktabs-tabs li a:before {
content: '';
    background: none;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
}

#quicktabs-poetrychat_homepage_quicktabs #quicktabs-container-front_page_content .quicktabs-wrapper .views-row {
    padding: 0;
    border: none;
}

#quicktabs-poetrychat_homepage_quicktabs #quicktabs-container-front_page_content .quicktabs-tabpage .quicktabs-tabpage {
    padding: 0;
}

#quicktabs-poetrychat_homepage_quicktabs > .item-list {
    float: left;
    width: 50%;
}

#quicktabs-poetrychat_homepage_quicktabs ul.quicktabs-tabs {
    margin-right: 0.75em;
}

.pane-node-field-start-date,
.pane-node-field-venue {
    color: #003f87;
}

.pane-node-field-start-date {
    font-size: 150%;
    line-height: 2;
    line-height: 3rem;
}

.pane-node-field-start-date ~ .pane-node-field-start-date,
.pane-node-field-venue {
    font-size: 112.5%;
    line-height: 1.333;
    line-height: 1.5rem;
    margin-bottom: 1.333em;
    margin-bottom: 1.5rem;
}

.date-nav .pager {
    position: relative;
}

.events-calendar-day-view .views-row {
    padding: 0.75em 0;
    border-bottom: 1px solid #eee;
}

.calendar-calendar .views-field-title {
    line-height: 1.5;
}

.calendar-calendar .month-view .full tr.date-box {
    background-color: #eee;
}

.calendar-calendar .month-view .full tr td.multi-day div.monthview {
    height: 2.5em;
}

.calendar-calendar .month-view .full td.multi-day .inner div a {
    background-color: #ffc;
}

.calendar-calendar .inner,
.calendar-calendar .calendar-empty {
    min-height: 8.5em;
    height: 8em;
}

.calendar-calendar .multi-day {
    background-color: #fff;
}

.calendar-calendar .single-day {
    background-color: #fff;
}

.view-events-calendar-calendar- .feed-icon {
    margin-top: 1.5em;
}

.parent-site-header {
    height: 34px;
    color: #FFF;
    background-color: #0083d6;
    width: 100%;
    font-size: 100%;
    margin-bottom: 0px;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

.parent-site-header a {
    display: block;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.parent-site-header a:hover, .parent-site-header a:active, .parent-site-header a:focus, .parent-site-header a:visited {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    color: #ffffff;
}

footer a {
    color: #fff;
    text-align: left;
}

.footer-left {
    margin-left: 3%;
}

.footer-left #footer-left-heading h3 {
    font-size: 1.3em;
    color: #fff;
    margin-top: 14px;
}

.footer-left #footer-left-contact-info {
    padding-right: 1.25em;
    margin-top: 1.500em;
    font-size: 0.75em;
}

.footer-left p:first-child, .footer-left dl:first-child {
    font-size: 95%;
    line-height: 1.7;
    margin-bottom: 1.500em;
    display: block;
    clear: both !important;
    padding-left: 0em !important;
}

.footer-left #footer-left-contact-info img {
    padding-right: .625em;
}

.footer-left #footer-left-contact-info p {
    margin-bottom: 10;
}

.footer-left #footer-left-contact-info a {
    color: white;
}

.page-title {
    margin-bottom: .5em;
}

.page-title h1 {
    display: none;
}

#site-title {
    padding-left: 250px;
    color: white;
    text-transform: uppercase;
    line-height: 34px;
    font-weight: bold;
}

#site-title a {
    display: inline;
    color: #FFF;
}

#poetrychat-main-content {
    font-family: verdana !important; 
    color: #000;
    font-size: 14px;
    line-height: 125%;
}

header[role="banner"] > div {
    height: 215px;
    overflow: visible;
    /* this fixes the megamenu problem */
}

.site-header .site-banner {
    margin-top: 0px;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

div.views-row {
    /* for the /blog */
    padding-bottom: 30px;
}

table.views-view-grid.cols-3 > tbody > tr > td {
    width: 33%;
    vertical-align: top;
}

table.views-view-grid.cols-3 > tbody > tr > td + td + td {
    /* apply this to the 3rd cell in this table */
}

div.topleft, div.top, div.topright {
    width: 33% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div.western-quick-links {
    display: none;
}

html {
    line-height: 1.0;
    width: 100%;
}

main {
    background: #FFF; 
    width: 100%;
}


.views-field.views-field-changed.news-time-ago {
    font-size:  75%;
    color:  #999;
}

.wwu-25-percent-left-column {
    font-family: "Amatic SC" !important;
    font-size: 200% !important;
    width: 25% !important;
}

.wwu-75-percent-right-column {
    font-family: "Amatic SC" !important;
    font-size: 150% !important;
}

#poetrychat-logo {
    position: absolute;
    right: 20px;
    
}

#poetrychat-logo-interior {
    position: absolute;
    right: -2px;
    top: -105px;
    z-index: 888;
}

#block-block-142, #block-block-139 {
    margin-top: -481px;
    left: -109px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 10px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 368px;
}

#block-block-142 *, #block-block-139 * {
    color: #000;
    font-size: 150% !important;
    line-height: 110%;
    font-family: "Amatic SC" !important;
}

#block-block-142 > p > a, #block-block-139 > p > a {
    font-size: 100% !important;
    text-decoration:  none;
}

body {
    background-color: #FFF;
    width: 100%;
}

#context_poetrychat_interior_page {
    border: 1px solid;
    width: 50%;
}

/*
.western-header .western-search {
    top: 44px; 
    height: 30px;
    width: 30px;
    right: -58px;
    position: absolute;
    display: none; 
}
*/

#main-menu {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* thanks to http://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    background: #333;
    font-size: 150%;
    font-family: "Amatic SC" !important;
    color: #FFF;
    padding: 5px;
}

.main-nav .menu li {
    background-color: transparent;
}

.main-nav .menu li.active {
    background-color: transparent;
    color: #000;
}

.main-nav .menu li.active .active {
    color: #FFF;
    font-weight: bold;
}

.main-nav .menu li.active .active:hover {
    background: transparent;
    color: #999;
    font-weight: bold;
}

.main-nav div div .menu li {
    border: 0px;
}

.main-nav .menu li:hover,
.main-nav .menu li:focus,
.main-nav .menu li:active {
-moz-transition: 0.1s;
-o-transition: 0.1s;
-webkit-transition: 0.1s;
transition: 0.1s;
    background-color: #444;
    color: #FFF;
}

#block-block-140 {
    /* poetrychat-menu-subtext */
    margin-top: -31px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#block-block-140 > ul {
    display: table;
    font-weight: normal;
    font-size: 75%;
    width: 95%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#block-block-140 > ul > li {
    display: table-cell;
}

a {
    color: #000033;
}

a:hover {
    color: #444;
}

main .page-title, .page-title {
    border-bottom: 0px;
}

.pane-title {
    margin-bottom: 0;
}

#block-block-141 {
    /* typewriter poem on homepage */
    height: 220px;
    margin-top: 352px;
}

#block-block-141 * {
    font-family: 'Special Elite' !important;
    font-size: 72%;
    color: #ccc;
}

.homepage-poem {
    font-size: 200%;
}

.typed-cursor {
    display: none;
}

.main-nav .menu li a:hover {
    color: #FFF;
    position: relative;
    top: -5px;
    transition: top 1s;
}

tr:nth-of-type(2n+1) {
    background: transparent;
}

table, tbody, th, tr, td {
    border: 0px;
    font-size:  inherit !important;
}

.column0 {
    width: 30%;
    float: left;
}

.column1 {
    width: 30%;
    float: left;
    margin-left: 5px;
}

.column2 {
    width: 30%;
    float: left;
    margin-left: 5px;
}

.return-to-top {
    color: #999;
    position: absolute;
    right: 5px;
}

.first-letter {
    color: #555;
    display: inline;
}

td.views-field.views-field-field-date.active {
    background-color:  transparent;
}

#archived-events-link {
    font-size:  75%;
    text-align:  center;
}

div.new-letter::nth-of-type(0) {
    margin-top: 0px;
}

div.new-letter {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #efefef;
}

.content p, .content dl, .content blockquote {
    font-family:  inherit;
    font-size:  inherit;
}

h1, h2, h3, h4, dl dt, h5, h6 {
    font-family: inherit;
}

#poetrychat-stay-connected-form {
    margin-top: 2em;
}

#poetrychat-stay-connected-form > h2 {
    font-size:  80% !important;
}

#poetrychat-stay-connected-form * label {
    display: none;
}

#poetrychat-stay-connected-form  * {
    font-family:  inherit;
    font-size:  90%;
    width: 90% !important;
}

#poetrychat-stay-connected-form  * .form-item, .form-actions {
    margin: 0;
    margin-bottom: 5px;
}

a {   
    text-decoration: underline;
}

tr:nth-of-type(2n+1) {
    background: #EEE none repeat scroll 0% 0%;
}

.bryant-flipped-content {
    width:  75%;
}

.bryant-flipped-sidebar { 
    width: auto;
}

/* for the Events > Mini Calendar */

.view.view-poetrychat-calendar.view-id-poetrychat_calendar.view-display-id-block_1 {
    background:  #FFCF25;
    padding: 1.5em;
}

.view.view-poetrychat-calendar.view-id-poetrychat_calendar.view-display-id-block_1 .view-header {
    background:  #FFCF20;
    padding: 0.2em;
    height: 65px;
}

.calendar-calendar table.mini td {
    border: 1px solid #ddd;
    padding: 5px;
}

.calendar-calendar table.mini td.empty {
    border: 1px solid #ddd;
    padding: 0px;
}

.view .date-nav-wrapper .date-heading a {
    font-size:  60%;
    text-decoration:  none;
    position: absolute;
    right: 30px;
    top: -45px;
    text-transform: uppercase;
}

.view .date-nav-wrapper .date-heading h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.view .date-nav-wrapper .date-prev {
    background:  transparent;
    position: absolute;
    left: 190px;
    top: -50px;
    right: auto;
}

.view .date-nav-wrapper .date-next {
    background:  transparent;
    top: -50px;
}

.view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
    font-size:  200%;
    font-weight:  normal;
}

/* Captions under pictures formatting */

.flex-caption {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    font-style: italic !important;
    font-size: 13px !important;
}

div.flex-caption a {
    text-decoration: none !important;
}

@media all and (min-width: 0px) and (max-width: 340px) {
    .main-nav div div .menu li a {
        margin-right: 5px;
    }
    .view .date-nav-wrapper .date-prev {
        left: 60%;
    }
}

@media all and (min-width: 341px) and (max-width: 420px) {
    .main-nav div div .menu li a {
        margin-right: 14px;
    }
    .view .date-nav-wrapper .date-prev {
        left: 68%;
    }
}

@media all and (min-width: 421px) and (max-width: 749px) {
    .main-nav div div .menu li a {
        margin-right: 30px;
    }
    .view .date-nav-wrapper .date-prev {
        left: 72%;
    }

}

@media all and (min-width: 750px) and (max-width: 799px) {
    .main-nav div div .menu li a {
        margin-right: 86px;
    }
    .view .date-nav-wrapper .date-prev {
        left: 65%;
    }
    .view.view-poetrychat-calendar.view-id-poetrychat_calendar.view-display-id-block_1 {
        padding: 0em;
    }
}


/* max width 800px -------------------------------------------------------- */

@media all and (max-width: 800px) {
    .site-header .site-banner img {
        width: 100%;
        max-width: none;
    }  

    .site-banner {
        display: inline;
    }

    #block-block-142, #block-block-139 {
        display: none;
        margin-top: -425px;
        left: 13px;
    }

    #poetrychat-logo {
        position: absolute;
        right: 49px;
        top: 3px;
    }

    #block-block-141 {
        margin-top: auto;
    }

    .main-nav {
        height: 40px;
    }

    main-nav div div .menu {
        display: table;
    }

    .main-nav .menu {
        width: 100%;
    }

    .main-nav div div .menu { 
        display: block;
    }

    .main-nav div div .menu {
        background-color: inherit;
    }

    .site-header {
        clear: both;
        float: left;
        line-height: 0;
        position: relative;
    }

    section.content.column {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
    }

    section.content.column { 
        flex: 1; 
    }

    .wwu-25-percent-left-column {
        width: 100%;
        order: 2; 
        clear: both;
        margin: 0;
    }

    .wwu-25-percent-left-column ul.menu {
        display: table;
        width: 100%;
        list-style: none;
        float: left;
    }

    .wwu-25-percent-left-column ul.menu li {
        padding: 10px;
        text-align: center;
        display: table-cell;
        float: none;
    }

    .wwu-75-percent-right-column {
        width: 100%;
        order: 1;
        margin: 0;
    }

    .main-nav div div .menu {
        display:  table;
        background-color: transparent;
        overflow: hidden;
    }

    .main-nav div div .menu li {
        padding: 5px 5px;
        text-align: center;
        display: table-cell;
        float: none;
        text-transform: uppercase;
        overflow: hidden;
    }

    .main-nav div div .menu li a {
        padding: 0em !important;
        /*margin-right: 28px;*/
    }

    .footer-left, .footer-center, .footer-right {
        clear: left;
        float: left;
        width: 100%;
    }

    .footer-right .western-contact-info {
        width: 90%;
    }

    .footer-left .footer-site-name,.footer-left {
        padding-left: 1.5em;
        margin-bottom: 0;
    }

    .footer-left .block {
        margin-bottom: 0;
    }

    .footer-right h1 {
        margin: 0 0 1.2em 0;
    }

}

/* ------------------------------------------------------------------------ */


/* ----------------------------------------------------------david 19may2016-------------- */
.menu-mlid-12230 a, .menu-mlid-12263 a, .menu-mlid-14432 a, .menu-mlid-14880 a {
    /* this is for the Poetry Camp link and Arbuthnot */
    color: #FFCF20 !important;
}


.covid-attestation {
  display: none !important;
}